
<!doctype html>
<html ng-app='polls'>
<head>
  <meta charset="utf-8">
    <title>hello,angular2</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body ng-controller='PollListCtrl'>
  <div ng-view></div>>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/angjs/angular.min.js"></script>
  <script src="/js/angjs/angular-resource.min.js"></script>
  <script src="/js/angjs/app.js?time=1"></script>
  <script src="/js/angjs/controllers.js"></script>
</body>
</html>
